.Wheel {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-color: #333;
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
}

.Wheel.front {
  animation-name: Wheel-spin-front;
  left: 0;
}

.Wheel.back {
  animation-name: Wheel-spin-back;
  right: 0;
}

@keyframes Wheel-spin-front {
  from { transform: translateX(-50%) rotate(360deg); }
  to { transform: translateX(-50%) rotate(0deg); }
}

@keyframes Wheel-spin-back {
  from { transform: translateX(50%) rotate(360deg); }
  to { transform: translateX(50%) rotate(0deg); }
}
